<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Buddy</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="navbar">
        <a href="/feed"><h1 class="feedHeader">f e e d</h1></a>
        <h1 class="userNameHeader"><%=  %></h1>
        <a href="/profile"><span>P R O F I L E</span></a>
      </div>
    </header>

  </body>
</html>