<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>Booking Buddy</title>

  </head>
  <body>
    <header>
      <nav class="header">
        <a href="/profile">
          <img src="/assets/booking-buddy.png" alt="Booking Buddy Logo" class="booking-buddy-logo-image">
        </a>
        <a href="/feed"><h2>Bands</h2></a>
      </nav>
    </header>

  </body>
</html>