<%- include('partials/header') -%>

<main class="indexLanding">

    <div class="indexLandingDiv">

        <!-- login -->

        <section class="indexLoginForm" id="loginFormSection">

            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>

            <div class="alert alert-danger"><%= el.msg %></div>

            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>

            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>

            <form class="indexLandingForm" action="/login" method="POST">

                <div class="mb-3">
                    <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="email"
                    name="email"
                    placeholder="Email Address"
                    />
                </div>

                <div class="mb-3">
                    <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    />
                </div>

                <div class="loginButtons">
                    <button type="submit" class="indexButton">Login</button>
                    <a href="/signup" class="indexButton">Signup</a>
                </div>

            </form>

        </section>

    </div>

</main>

<%- include('partials/footer') -%>

<script>
    window.addEventListener("load", function() {
        var formSection = document.getElementById("loginFormSection");
        formSection.scrollIntoView({ behavior: "smooth" });
    });
</script>
