<%- include('partials/header') -%>

<div class="signupPage">
    
        <div class="signupFormContainer">

                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>


                <div class="accountInfo">
                    <form action="/signupTalentInfo.ejs" method="POST" enctype="multipart/form-data">
                        <h2>USER INFO</h2>
                        
                        <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
                        
                        
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>

                        
                        <input type="email" id="email" name="email" placeholder="Email Address" required>
                        
                        
                        <input type="password" id="password" placeholder="Password" name="password">

                        <button type="submit" class="createUserButton btn btn-primary">Next</button>
                    </form>                           
                </div>    
        </div>
</div>


<%- include('partials/footer') -%>