<%- include('partials/header') -%>
    <main class="container">

        <div class="signupFormContainer">

            <section class="signupForm">

                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/user/createUser/" method="POST" enctype="multipart/form-data">

                  <label for="userName">User Name:</label>
                  <input type="text" id="userName" name="userName" required>
                
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" required>
                
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password">
                
                  <label for="image">Image:</label>
                  <input type="file" id="image" name="image" accept="image/*">
                
                  <label for="title">Title:</label>
                  <input type="text" id="title" name="title">
                
                  <label for="description">Description:</label>
                  <textarea name="description"></textarea>
                
                  <label for="genre">Genre:</label>
                  <input type="text" id="genre" name="genre">
                
                  <label for="yearFormed">Year Formed:</label>
                  <input type="number" id="yearFormed" name="yearFormed">
                
                  <label for="members">Members:</label>
                  <input type="text" id="members" name="members">
                
                  <label for="website">Website:</label>
                  <input type="url" id="website" name="website">
                
                  <label for="active">Active:</label>
                  <input type="checkbox" id="active" name="active" checked>
                
                  <button type="submit">Create User</button>
                </form>
                

                  </form>

            </section>

        </div>

    </main>

<%- include('partials/footer') -%>