html{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  width: 100%;
}


.header > nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}